.footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}
.footer__container {
  @media screen and (min-width: 768px) {
    padding-left: 76px;
    padding-right: 89px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__tab {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-first-block {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}
.footer__list {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 60px;
  }
}
.footer__item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: block;
    text-align: unset;
  }
}

.address__link {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  &:hover,
  &:focus {
    color: #2196f3;
  }
  @media screen and (min-width: 1200px) {
    white-space: nowrap;
  }
}

.footer__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    text-align: unset;
  }
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.footer__social {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer__social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.footer__social-item {
  width: 44px;
  height: 44px;
}
.footer__social-item + .footer__social-item {
  margin-left: 10px;
}
.footer__social-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: color 250ms, background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #fff;
  }
}

.footer__social-icon {
  fill: currentColor;
}

.footer__subscribe {
  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: 93px;
  }
}
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.subscribe__btn {
  font-family: inherit;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  min-height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  color: var(--main-button-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.subscribe__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 16px;
  cursor: pointer;
  outline: none;
  @media screen and (min-width: 768px) {
    width: 450px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.subscribe__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.subscribe__send-icon {
  margin-left: 10px;
}
