:root {
  --hero-title-color: #fff;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --main-button-color: #fff;
  --second-button-color: #212121;
  --adress-color: #fff;
  --first-logo-color: #2196f3;
  --second-logo-color: #000;
  --footer-color: #2f303a;
  --portfolio-list-gap: 30px;
}
